<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="DyslexiqueConnectionString" connectionString="Data Source=DESKTOP-7Q8097L;Initial Catalog=Dyslexique;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Dyslexique.Properties.Settings.DyslexiqueConnectionString"
      connectionString="Data Source=DESKTOP-7Q8097L;Initial Catalog=Dyslexique;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>