<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- LAPTOP -->
  <connectionStrings>
    <add name="DyslexiqueConnectionString"
        connectionString="Data Source=HP-SPECTREX360-;Initial Catalog=Dyslexique;Integrated Security=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>

  <!-- FIXE -->
  <!--<connectionStrings>
    <add name="DyslexiqueConnectionString"
        connectionString="Data Source=BL;Initial Catalog=Dyslexique;Integrated Security=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>-->
  
  <!-- SERVEUR PROD -->
  <!--<connectionStrings>
    <add name="DyslexiqueConnectionString"
        connectionString="Data Source=172.16.196.4;Initial Catalog=bdlegendre;Persist Security Info=True;User ID=blegendre;Password=Wxcvbn62"
        providerName="System.Data.SqlClient" />
  </connectionStrings>-->
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>